.grid-container > * {
  border-top: 1px solid rgba(49, 75, 146, 0.493);
  border-bottom: 1px solid rgba(49, 75, 146, 0.493);
}

.design-frame {
  height: 100%;
  width: 100%;
  object-fit: "contain";
  padding: 5px;
}
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 230px 250px 230px 230px;
  grid-template-rows: 120px 140px 140px 160px 140px 180px 250px;
  grid-template-areas: "i1 i1 p1 l1" "i1 i1 p1 p2" "l2 ll1 ll1 p2" "l3 i2 i2 p3" "p4 i2 i2 p3" "p4 l4 i3 i3" "ll2 ll2 i3 i3";
}

.i1 {
  grid-area: i1;
}

.p1 {
  grid-area: p1;
}

.l1 {
  grid-area: l1;
}

.p2 {
  grid-area: p2;
}

.ll1 {
  grid-area: ll1;
}

.l2 {
  grid-area: l2;
}

.l3 {
  grid-area: l3;
}

.i2 {
  grid-area: i2;
}

.p3 {
  grid-area: p3;
}

.p4 {
  grid-area: p4;
}

.ll2 {
  grid-area: ll2;
}

.i3 {
  grid-area: i3;
}

.l4 {
  grid-area: l4;
}

.overlay-frame {
  position: relative;
  /* width: 50%;
  max-width: 300px; */
}


/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  /* background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);  */
  /* color: #f1f1f1; */
  width: 100%;
  /* transition: 0.5s ease; */
  opacity: 0;
  font-size: 12px;
  padding: 20px;
  text-align: center;
  background-color: none;
}

.overlay-frame > .overlay::before {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(  rgba(0, 0, 0, 0), rgb(0, 0, 0));
    opacity: .1;
    z-index: 10;
}

/* When you mouse over the container, fade in the overlay title */
.overlay-frame:hover .overlay {
  opacity: 1;
  /* background-color: currentColor; */
  /* background: -webkit-linear-gradient(  rgba(0, 0, 0, 0.637), rgb(34, 34, 34), rgb(0, 0, 0))
   */
   background-color: black;
   z-index: 2;
}
